# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/zkr_estate?schema=public"

# Auth.js
AUTH_SECRET="replace-with-openssl-rand-base64-32-output"
AUTH_TRUST_HOST=true

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"